<a href="https://colab.research.google.com/github/wilaipa/KKU_data_mining/blob/master/Final_Exam_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. จากข้อมูล (```w_restaurant.csv```, ```search_click.csv```, ```search_request.csv```) ใน http://qr.tebs.io/6zqwEf สร้าง model เพื่อทำนาย (Classification) ว่าผลการ search เป็นร้านอาหารหรือไม่(```is_food = = True```) โดยพิจารณาจาก 
- วันในสัปดาห์ที่ทำการ search (```Monday-Sunday```) 
- วันในที่ทำการ search (```1-31```)
- เวลาที่ทำการ search (```1-24```)

หมายเหตุที่ 1 สามารถใช้ function ที่ให้มาช่วยในการทำงานได้
1. ```extract_time()``` ซึ่ง input เป็น ```timestamp``` และ output เป็น ```เวลาที่ทำการ search``` ```วันในที่ทำการ search``` ```วันในสัปดาห์ที่ทำการ search```

2. ```is_food``` ซึ่ง input เป็น ```category_name``` และ ```output``` เป็น คำตอบว่า ```เป็นร้านอาหารหรือไม่```

หมายเหตุที่ 2 ควรเตรียมข้อมูลโดยรวมข้อมูลจาก ตาราง ```w_restaurant.csv```, ```search_click.csv```, ```search_request.csv``` ให้ได้ในรูปแบบ ต่อไปนี้
![exam_table.PNG]()

(200 คะแนน)

In [1]:
import datetime
def extract_time(datetime_s):
    EX_date = datetime.datetime.strptime(datetime_s, "%Y-%m-%d %H:%M:%S.%f")
    return EX_date.hour, EX_date.day, get_day(EX_date.weekday()) 

def get_day(D):
    weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
    return weekdays[D] 

def is_food(inp):
    food_list = ['Vegeterian','Sushi','Sukiyaki/Shabu','Street Food/Food Stands','Steak House/Barbeque','Southern Food','Seafood','Ramen','Quick Meal','Pizza','Northern Food','Noodles','Mexican','Korean',
             'Japanese','Italian','Izakaya','Healthy Food','German Food','Fusion Food','French','Food Truck','Fastfood','Dim Sum','Delivery Only','Chinese','Cafe','Café/Coffee Shop','Buffet',
             'Breakfast/Brunch','Bakery/Cake','Barbeque/Grill','American']
    return inp in food_list

In [4]:
import pandas

In [5]:
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/My Drive/DWDM_material'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
import os

In [7]:
w_restaurant = os.path.join(path,'w_restaurant.csv')
search_click = os.path.join(path,'search_click.csv')
search_request= os.path.join(path,'search_request.csv')

In [8]:
w_restaurant_df = pandas.read_csv(w_restaurant)

In [9]:
w_restaurant_df.head()

   id                                              name  ...  pet_friendly  delivery
0   2  à¸™à¸„à¸£à¸´à¸™à¸—à¸£à¹Œà¸—à¸±à¸™à¸•à¸à¸£à¸£à¸¡  ...           NaN       NaN
1   4                                      Corner House  ...           NaN       NaN
2   5        à¸§à¸±à¸”à¹‚à¸¥à¸à¸¢à¸ªà¸¸à¸˜à¸²à¸£à¸²à¸¡  ...           NaN       NaN
3   6        à¸™à¸±à¸™à¸—à¹Œà¸„à¸²à¸£à¸²à¹‚à¸­à¹€à¸à¸°  ...           NaN       NaN
4   7                                       Buono Caffe  ...           NaN       NaN

[5 rows x 32 columns]

In [10]:
search_click_df = pandas.read_csv(search_click)
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [11]:
search_request_df = pandas.read_csv(search_request)
search_request_df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [12]:
merged_table = w_restaurant_df.merge(search_click_df,how='left',left_on='id',right_on='business_id')
merged_table

             id  ...    ads
0             2  ...  False
1             2  ...  False
2             2  ...  False
3             2  ...  False
4             4  ...    NaN
...         ...  ...    ...
1153529  340070  ...  False
1153530  340070  ...  False
1153531  340074  ...    NaN
1153532  340079  ...    NaN
1153533  340091  ...    NaN

[1153534 rows x 38 columns]

In [24]:
w_table = w_restaurant_df[['category_name','id']]
w_table

               category_name      id
0                Orthodontic       2
1                 Quick Meal       4
2        Historical/Religion       5
3                    Karaoke       6
4          CafÃ©/Coffee Shop       7
...                      ...     ...
246842                 Sushi  340068
246843               Karaoke  340070
246844  Steak House/Barbeque  340074
246845     CafÃ©/Coffee Shop  340079
246846               Noodles  340091

[246847 rows x 2 columns]

In [23]:
s_table = search_click_df[['search_id','business_id']]
s_table

                                    search_id  business_id
0        5c004472-5ecc-4159-9698-9f329b8e26e1     298839.0
1        5f34eca0-c04e-4c10-b600-54aa447dbd8e     171372.0
2        8dc6d1f0-11f1-4239-9dd2-5c1674c81224      16157.0
3        1a5810e9-3d1f-44b9-9a2e-26ede21c524b      89741.0
4        6bc75e0d-fc65-471e-9926-ff6be6708639     189564.0
...                                       ...          ...
1048570  99aab616-6fc5-4fbf-994b-4aebee7bb360     278479.0
1048571  d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a     321885.0
1048572  4c1de7fe-300e-41aa-9d01-914344fc3753     221035.0
1048573  2ec0ddec-e450-4b98-9779-42b77aa7eda5     220572.0
1048574  5741d9cf-b9f1-441d-aa83-d2b0179bf874     310448.0

[1048575 rows x 2 columns]

In [15]:
r_table = search_request_df[['search_id','search_timestamp','lat','long']]
r_table

                                     search_id  ...     long
0         683de889-f923-494e-9d46-44a3d67b7259  ...  101.463
1         4a811230-ffa4-4631-a4c8-5d0394137d02  ...  102.534
2         7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  100.371
3         0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  101.861
4         6870dc3a-5602-44fc-80ed-df0a7783df9d  ...    99.88
...                                        ...  ...      ...
10004352  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  ...      NaN
10004353  66cc94db-217a-4d8e-aa20-b1d10e17c968  ...      NaN
10004354  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  ...      NaN
10004355  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  ...      NaN
10004356  48421ba4-8c69-46a5-aa05-425ddc82a09a  ...      NaN

[10004357 rows x 4 columns]

In [25]:
pd_concat = pandas.concat([w_table,s_table,r_table])
pd_concat

                category_name   id  ...  lat  long
0                 Orthodontic  2.0  ...  NaN   NaN
1                  Quick Meal  4.0  ...  NaN   NaN
2         Historical/Religion  5.0  ...  NaN   NaN
3                     Karaoke  6.0  ...  NaN   NaN
4           CafÃ©/Coffee Shop  7.0  ...  NaN   NaN
...                       ...  ...  ...  ...   ...
10004352                  NaN  NaN  ...  NaN   NaN
10004353                  NaN  NaN  ...  NaN   NaN
10004354                  NaN  NaN  ...  NaN   NaN
10004355                  NaN  NaN  ...  NaN   NaN
10004356                  NaN  NaN  ...  NaN   NaN

[11299779 rows x 7 columns]

2. จากข้อมูล (```reduced_marketbasket.csv```) ใน http://qr.tebs.io/6zqwEf ให้เปรียบเทียบ รูปแบบ การซื้อที่น่าสนใจเป็นราย Transaction ของประชากรใน ประเทศ ```United Kingdom``` กับ ประเทศอื่นๆ (```'Country'!='United Kingdom'```)

(80 คะแนน)

In [39]:
import pandas as pd

In [40]:
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/My Drive/DWDM_material'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [41]:
import os
data = pd.read_csv(os.path.join (path,'reduced_marketbasket.csv'),encoding='latin1')
data

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [42]:
data.groupby('Country').sum().sort_values('Quantity')

                      Quantity     UnitPrice    CustomerID
Country
Saudi Arabia                75  2.411000e+01  1.256500e+05
Bahrain                    260  8.657000e+01  2.100270e+05
RSA                        352  2.481000e+02  7.218680e+05
Brazil                     356  1.426000e+02  4.086080e+05
Lebanon                    386  2.424400e+02  5.743800e+05
European Community         497  2.940500e+02  9.215880e+05
Czech Republic             592  8.815000e+01  3.834300e+05
Lithuania                  652  9.944000e+01  5.366200e+05
Malta                      944  6.660100e+02  2.158496e+06
United Arab Emirates       982  2.298900e+02  1.018952e+06
USA                       1034  6.449800e+02  3.672086e+06
Greece                    1556  7.132900e+02  2.008584e+06
Iceland                   2458  4.812100e+02  2.247154e+06
Canada                    2763  9.105800e+02  2.615483e+06
Unspecified               3300  1.204010e+03  3.348046e+06
Poland                    3653  1.422270e+03  4.341972e+06
Israel                    4353  1.079040e+03  3.164467e+06
Hong Kong                 4769  1.224150e+04  0.000000e+00
Austria                   4827  1.701520e+03  5.021102e+06
Singapore                 5234  2.510889e+04  2.918376e+06
Cyprus                    6317  3.920070e+03  7.715880e+06
Italy                     7999  3.879390e+03  1.015666e+07
Denmark                   8188  1.266950e+03  4.876734e+06
Channel Islands           9479  3.738550e+03  1.128522e+07
Finland                  10666  3.786850e+03  8.699324e+06
Portugal                 16180  1.303754e+04  1.886480e+07
Norway                   19247  6.529060e+03  1.350765e+07
Belgium                  23152  7.540130e+03  2.571829e+07
Japan                    25218  8.148600e+02  4.567292e+06
Spain                    26824  1.263345e+04  3.268929e+07
Switzerland              30325  6.813690e+03  2.377592e+07
Sweden                   35637  1.806830e+03  6.790083e+06
Australia                83653  4.054750e+03  1.569300e+07
France                  110480  4.303199e+04  1.076489e+08
Germany                 117448  3.766600e+04  1.200751e+08
EIRE                    142637  4.844719e+04  1.103917e+08
Netherlands             200128  6.492550e+03  3.419054e+07
United Kingdom         4263829  2.245715e+06  5.626433e+09

In [44]:
transacs = data.groupby('InvoiceNo')['StockCode'].apply(list)
transacs

InvoiceNo
536365     [85123A, 71053, 84406B, 84029G, 84029E, 22752,...
536366                                        [22633, 22632]
536367     [84879, 22745, 22748, 22749, 22310, 84969, 226...
536368                          [22960, 22913, 22912, 22914]
536369                                               [21756]
                                 ...
C581484                                              [23843]
C581490                                       [22178, 23144]
C581499                                                  [M]
C581568                                              [21258]
C581569                                       [84978, 20979]
Name: StockCode, Length: 25900, dtype: object

3. เขียนคำศัพท์ที่ได้เรียนในวิชาพร้อมทั้งคำนิยามที่เป็นคำพูดของนักศึกษาเอง (ห้าม search google) 20 คำ

(คำละ 0.5 คะแนน)

1. import pandas - การเรียกใช้ package ที่ชื่อ pandas

2. (import pandas) as pd - เปลี่ยนชื่อจาก pandas เป็น pd

3. from google.colab import drive - นำไฟล์จาก drive มาที่ google colab

4. path - สร้างตัวแปรเก็บโฟลเดอร์ที่เราต้องการ

5. from matplotlib - คำสั่งนำเข้าข้อมูลที่มีอยู่ที่เป็นตัวเลข ให้นำเข้ามาเป็นกราฟ

6. len(list_a) - นับจำนวนสมาชิกในลิสต์นั้นๆ

7. 
print - แสดงจำนวนในลิสต์

8. return - ส่งตัวแปรกลับมา

9. data.head() - แสดงหัวข้อตาราง

10. merge - การรวมตารางเข้าด้วยกัน

11. groupby - จัดกลุ่มข้อมูลในแต่ละตาราง

12. Define - ระบุข้อมูลที่นำเข้ามา

13. Classification - การจุดกลุ่มข้อมูล

14. Association - การหาความสัมพันธ์ของข้อมูล

15. mean - ค่าเฉลี่ยของข้อมูลในตาราง

16. missing - ข้อมูลที่หายไป

17. split - แยกสมาชิกข้อมูลออก

18. map - การเพิ่มคอลัมน์โดยการใช้แมพ โดยแมพตารางแต่ละตารางที่ต้องการ แล้วเลือกเอาคอลัมน์ที่สนใจ

19. shape - รูปแบบของข้อมูล เช่น ข้อมูลในตารางนี้มี 1000 ชุด กับ 5 คอลัมน์ จะได้ outout เป็น (1000,5)

20.sum - ผลรวมของข้อมูลในตาราง