<a href="https://colab.research.google.com/github/wilaipa/KKU_data_mining/blob/master/visitors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##อันดับแรกเลือก packages

การเรียกใช้ package ที่ชื่อว่า pandas

In [1]:
import pandas

##เชื่อมต่อกับ Google drive
หรือนำไฟล์จาก Drive มาที่ google colab

In [2]:
from google.colab import drive
drive.mount('/content/drive')

##ตั้งชื่อลิ้งค์
path = '/content/drive/My Drive/DWDM_material'

Mounted at /content/drive

##การเรียกใช้ package ที่ชื่อว่า os

In [3]:
import os

dnp_attraction = os.path.join(path,'dnp_attraction.csv')
visitors = os.path.join(path,'visitors.csv')

##จากนั้นใช้ pandas โหลดข้อมูลมา

In [4]:
dnp_attraction_df = pandas.read_csv(dnp_attraction)
dnp_attraction_df.head()

         Type-TH           Type-EN  ...         District   Subdistrict
0  สวนพฤกษศาสตร์  Botanical Garden  ...       วังน้ำเย็น  ทุ่งมหาเจริญ
1  สวนพฤกษศาสตร์  Botanical Garden  ...  เฉลิมพระเกียรติ          พุแค
2  สวนพฤกษศาสตร์  Botanical Garden  ...       เมืองระยอง          แกลง
3  สวนพฤกษศาสตร์  Botanical Garden  ...        พนมสารคาม    เขาหินซ้อน
4  สวนพฤกษศาสตร์  Botanical Garden  ...            นาโยง         นาโยง

[5 rows x 17 columns]

In [5]:
visitors_df = pandas.read_csv(visitors)
visitors_df.head()

           จังหวัด รหัสจังหวัด        2549  ...      2559      2560      2561
0    กรุงเทพมหานคร       th-bm  36172138.0  ...  59196331  63575737  65534281
1      สมุทรปราการ       th-sp    958352.0  ...   2900180   3218934   3373639
2          นนทบุรี       th-no    830593.0  ...   2090095   2514677   2664025
3         ปทุมธานี       th-pt    868449.0  ...   1896549   2014281   2098344
4  พระนครศรีอยุธยา       th-pa   3373929.0  ...   7216514   7631557   8349613

[5 rows x 15 columns]

##เพิ่ม Column 'SUM' ที่รวมจำนวนนักท่องเที่ยวในแต่ละจังหวัดตั้งแต่ปี2549-2561

In [6]:
# sum for rows
df = visitors_df = pandas.read_csv(visitors)
df['SUM'] = df['2549']+df['2550']+df['2551']+df['2552']+df['2553']+df['2554']+df['2555']+df['2556']+df['2557']+df['2558']+df['2559']+df['2560']+df['2561']
df.head()

           จังหวัด รหัสจังหวัด        2549  ...      2560      2561          SUM
0    กรุงเทพมหานคร       th-bm  36172138.0  ...  63575737  65534281  612808844.0
1      สมุทรปราการ       th-sp    958352.0  ...   3218934   3373639   27103976.0
2          นนทบุรี       th-no    830593.0  ...   2514677   2664025   22464137.0
3         ปทุมธานี       th-pt    868449.0  ...   2014281   2098344   18302732.0
4  พระนครศรีอยุธยา       th-pa   3373929.0  ...   7631557   8349613   75010518.0

[5 rows x 16 columns]

## หาค่าเฉลี่ยจำนวนนักท่องเที่ยวในปี 2561

In [42]:
v_table = visitors_df[['จังหวัด','2549','2550','2551','2552','2553','2554','2555','2556','2557','2558','2559','2560','2561']]
v_table

            จังหวัด        2549        2550  ...      2559      2560      2561
0     กรุงเทพมหานคร  36172138.0  35953546.0  ...  59196331  63575737  65534281
1       สมุทรปราการ    958352.0   1262082.0  ...   2900180   3218934   3373639
2           นนทบุรี    830593.0   1079877.0  ...   2090095   2514677   2664025
3          ปทุมธานี    868449.0   1050674.0  ...   1896549   2014281   2098344
4   พระนครศรีอยุธยา   3373929.0   3784617.0  ...   7216514   7631557   8349613
..              ...         ...         ...  ...       ...       ...       ...
72             ตรัง    726373.0    858638.0  ...   1465811   1514092   1578906
73           พัทลุง    448000.0    501320.0  ...   1487188   1569333   1641841
74          ปัตตานี    160320.0    131998.0  ...    257143    272739    281988
75             ยะลา    282463.0    269368.0  ...    624879    657317    680018
76         นราธิวาส    336473.0    284073.0  ...    646020    665710    692057

[77 rows x 14 columns]

In [44]:
v_table_m = v_table['2561']
v_table_m

0     65534281
1      3373639
2      2664025
3      2098344
4      8349613
        ...
72     1578906
73     1641841
74      281988
75      680018
76      692057
Name: 2561, Length: 77, dtype: int64

## จำนวนนักท่องเที่ยวเฉลี่ยในปี 2561 เท่ากับ 3935314.4415584416 คน

In [45]:
v_table_m.mean()

3935314.4415584416

##เช็คดูจำนวนแถวและคอลัมน์

In [7]:
dnp_attraction_df.shape

(1431, 17)

In [8]:
visitors_df.shape

(77, 16)

##Missing Values

วิธีที่ 1 ลบ Missing ออกไปเลย

In [9]:
dnp_attraction_df.isnull()

      Type-TH  Type-EN  SubType-TH  ...  Province  District  Subdistrict
0       False    False       False  ...     False     False        False
1       False    False       False  ...     False     False        False
2       False    False       False  ...     False     False        False
3       False    False       False  ...     False     False        False
4       False    False       False  ...     False     False        False
...       ...      ...         ...  ...       ...       ...          ...
1426    False    False       False  ...     False     False        False
1427    False    False       False  ...     False     False        False
1428    False    False       False  ...     False     False        False
1429    False    False       False  ...     False     False        False
1430    False    False       False  ...     False     False        False

[1431 rows x 17 columns]

In [10]:
dnp_attraction_df.isnull().any()

Type-TH                 True
Type-EN                 True
SubType-TH              True
SubType-EN              True
Attraction-name TH      True
Attraction-name EN      True
Organization-Unit-TH    True
Organization-Unit-EN    True
Latitude                True
Longtiude               True
Open-Houre              True
Image-URL               True
Facility                True
Contact                 True
Province                True
District                True
Subdistrict             True
dtype: bool

In [11]:
dnp_attraction_df_nm = dnp_attraction_df.dropna()

In [12]:
dnp_attraction_df_nm.isnull().any().any()

False

In [13]:
print(dnp_attraction_df.shape)
print(dnp_attraction_df_nm.shape)

(1431, 17)
(16, 17)

In [14]:
visitors_df.isnull()

    จังหวัด  รหัสจังหวัด   2549   2550  ...   2559   2560   2561    SUM
0     False        False  False  False  ...  False  False  False  False
1     False        False  False  False  ...  False  False  False  False
2     False        False  False  False  ...  False  False  False  False
3     False        False  False  False  ...  False  False  False  False
4     False        False  False  False  ...  False  False  False  False
..      ...          ...    ...    ...  ...    ...    ...    ...    ...
72    False        False  False  False  ...  False  False  False  False
73    False        False  False  False  ...  False  False  False  False
74    False        False  False  False  ...  False  False  False  False
75    False        False  False  False  ...  False  False  False  False
76    False        False  False  False  ...  False  False  False  False

[77 rows x 16 columns]

In [15]:
visitors_df.isnull().any()

จังหวัด        False
รหัสจังหวัด    False
2549            True
2550            True
2551            True
2552            True
2553            True
2554           False
2555           False
2556           False
2557           False
2558           False
2559           False
2560           False
2561           False
SUM             True
dtype: bool

In [16]:
visitors_df_nm = visitors_df.dropna()

In [17]:
visitors_df_nm.isnull().any().any()

False

In [18]:
print(visitors_df.shape)
print(visitors_df_nm.shape)

(77, 16)
(76, 16)

##การตรวจสอบว่า การลบข้อมูล missing ออก
จากตาราง dnp_attraction และ visitors จะทำให้ข้อมูลลดลงกี่ %

In [19]:
size_before_drop = dnp_attraction_df.shape[0]
size_after_drop = dnp_attraction_df.dropna().shape[0]

print(f'size before drop = {size_before_drop} \nsize after drop = {size_after_drop} \
    \nwhich is {100*((size_before_drop-size_after_drop)/size_before_drop)}')

size before drop = 1431
size after drop = 16
which is 98.88190076869321

In [20]:
size_before_drop = visitors_df.shape[0]
size_after_drop = visitors_df.dropna().shape[0]

print(f'size before drop = {size_before_drop} \nsize after drop = {size_after_drop} \
    \nwhich is {100*((size_before_drop-size_after_drop)/size_before_drop)}')

size before drop = 77
size after drop = 76
which is 1.2987012987012987

วิธีที่ 2 เต็มค่าที่เหมาะสม

In [21]:
dnp_attraction_df[['SubType-TH']] = dnp_attraction_df[['SubType-TH']].fillna(0)
dnp_attraction_df[['SubType-EN']] = dnp_attraction_df[['SubType-EN']].fillna(0)
dnp_attraction_df[['Attraction-name EN']] = dnp_attraction_df[['Attraction-name EN']].fillna(0)
dnp_attraction_df[['Organization-Unit-EN']] = dnp_attraction_df[['Organization-Unit-EN']].fillna(0)
dnp_attraction_df[['Latitude']] = dnp_attraction_df[['Latitude']].fillna(0)
dnp_attraction_df[['Longtiude']] = dnp_attraction_df[['Longtiude']].fillna(0)
dnp_attraction_df[['Open-Houre']] = dnp_attraction_df[['Open-Houre']].fillna(0)
dnp_attraction_df[['Image-URL']] = dnp_attraction_df[['Image-URL']].fillna(0)
dnp_attraction_df[['Facility']] = dnp_attraction_df[['Facility']].fillna(0)
dnp_attraction_df[['Contact']] = dnp_attraction_df[['Contact']].fillna(0)
dnp_attraction_df[['Province']] = dnp_attraction_df[['Province']].fillna(0)
dnp_attraction_df[['District']] = dnp_attraction_df[['District']].fillna(0)
dnp_attraction_df[['Subdistrict']] = dnp_attraction_df[['Subdistrict']].fillna(0)

In [22]:
dnp_attraction_df.isnull().any()

Type-TH                  True
Type-EN                  True
SubType-TH              False
SubType-EN              False
Attraction-name TH       True
Attraction-name EN      False
Organization-Unit-TH     True
Organization-Unit-EN    False
Latitude                False
Longtiude               False
Open-Houre              False
Image-URL               False
Facility                False
Contact                 False
Province                False
District                False
Subdistrict             False
dtype: bool

In [23]:
visitors_df[['2549']] = visitors_df[['2549']].fillna(0)
visitors_df[['2550']] = visitors_df[['2550']].fillna(0)
visitors_df[['2551']] = visitors_df[['2551']].fillna(0)
visitors_df[['2552']] = visitors_df[['2552']].fillna(0)
visitors_df[['2553']] = visitors_df[['2553']].fillna(0)

In [24]:
visitors_df.isnull().any()

จังหวัด        False
รหัสจังหวัด    False
2549           False
2550           False
2551           False
2552           False
2553           False
2554           False
2555           False
2556           False
2557           False
2558           False
2559           False
2560           False
2561           False
SUM             True
dtype: bool

##merge two tables (.merge())

In [25]:
merged_table = dnp_attraction_df.merge(visitors_df,how='left',left_on='Province',right_on='จังหวัด')
merged_table

            Type-TH           Type-EN  ...       2561         SUM
0     สวนพฤกษศาสตร์  Botanical Garden  ...  2252606.0  20370027.0
1     สวนพฤกษศาสตร์  Botanical Garden  ...  4356276.0  43276752.0
2     สวนพฤกษศาสตร์  Botanical Garden  ...  7761662.0  70141127.0
3     สวนพฤกษศาสตร์  Botanical Garden  ...  3408573.0  30895064.0
4     สวนพฤกษศาสตร์  Botanical Garden  ...  1578906.0  15242034.0
...             ...               ...  ...        ...         ...
1426        ทางทะเล            marine  ...        NaN         NaN
1427        ทางทะเล            marine  ...        NaN         NaN
1428        ทางทะเล            marine  ...        NaN         NaN
1429        ทางทะเล            marine  ...        NaN         NaN
1430        ทางทะเล            marine  ...        NaN         NaN

[1431 rows x 33 columns]

In [26]:
merged_table[merged_table['จังหวัด']=='สระแก้ว'].dropna()['2561'].mean()

2252606.0

In [27]:
merged_table[merged_table['Province']=='ระยอง'].dropna()['2561'].mean()

7761662.0

##วิธีเช็ค Summary ของแต่ละคอลัมน์ (count, min, max, mean)

In [28]:
merged_table.describe()

               2549          2550  ...          2561           SUM
count  1.310000e+02  1.310000e+02  ...  1.310000e+02  1.310000e+02
mean   1.634992e+06  1.711585e+06  ...  3.830910e+06  3.198230e+07
std    1.569444e+06  1.559765e+06  ...  3.409037e+06  2.830756e+07
min    1.603200e+05  1.319980e+05  ...  2.819880e+05  2.761074e+06
25%    6.604800e+05  6.701545e+05  ...  1.074060e+06  9.759466e+06
50%    1.075715e+06  1.216586e+06  ...  3.243323e+06  2.604491e+07
75%    2.111204e+06  2.058790e+06  ...  4.868330e+06  3.620851e+07
max    7.236704e+06  7.882541e+06  ...  1.821154e+07  1.461354e+08

[8 rows x 14 columns]

###เพื่อหาดูว่าจังหวัดไหนบ้างที่มีสถานที่ท่องเที่ยวเป็นสวนพฤกษศาสตร์

In [29]:
new_table = merged_table[['จังหวัด','Type-TH','Attraction-name TH','Open-Houre']]
new_table

         จังหวัด  ...                             Open-Houre
0        สระแก้ว  ...  ทุกวัน (เวลาราชการ 8.30 น. -16.30 น.)
1        สระบุรี  ...  ทุกวัน (เวลาราชการ 8.30 น. -16.30 น.)
2          ระยอง  ...  ทุกวัน (เวลาราชการ 8.30 น. -16.30 น.)
3     ฉะเชิงเทรา  ...  ทุกวัน (เวลาราชการ 8.30 น. -16.30 น.)
4           ตรัง  ...  ทุกวัน (เวลาราชการ 8.30 น. -16.30 น.)
...          ...  ...                                    ...
1426         NaN  ...                                      0
1427         NaN  ...                                      0
1428         NaN  ...                                      0
1429         NaN  ...                                      0
1430         NaN  ...      ช่วงมกราคม-เมษายน ,ตลอดทั้งปี ฯลฯ

[1431 rows x 4 columns]

In [30]:
selected_list = merged_table['Type-TH']=='สวนพฤกษศาสตร์'
selected_list

0        True
1        True
2        True
3        True
4        True
        ...
1426    False
1427    False
1428    False
1429    False
1430    False
Name: Type-TH, Length: 1431, dtype: bool

In [31]:
new_table[selected_list].head()

      จังหวัด  ...                             Open-Houre
0     สระแก้ว  ...  ทุกวัน (เวลาราชการ 8.30 น. -16.30 น.)
1     สระบุรี  ...  ทุกวัน (เวลาราชการ 8.30 น. -16.30 น.)
2       ระยอง  ...  ทุกวัน (เวลาราชการ 8.30 น. -16.30 น.)
3  ฉะเชิงเทรา  ...  ทุกวัน (เวลาราชการ 8.30 น. -16.30 น.)
4        ตรัง  ...  ทุกวัน (เวลาราชการ 8.30 น. -16.30 น.)

[5 rows x 4 columns]

###เพื่อดูความสัมพนธ์ว่าในแต่ละจังหวัดมีสถานที่ท่องเที่ยวอะไรบ้าง

In [32]:
transacs = merged_table.groupby('Province')['Type-TH'].apply(list)
transacs

Province
0              [,หมูสี ,   ",   ", ทางบก,  ",   ",   ",   ", ...
 เชียงราย                             [สวนรุกขชาติ, สวนรุกขชาติ]
กระบี่         [ทางบก, ทางบก, ทางบก, ทางบก, ทางบก, ทางบก, ทาง...
กาญจนบุรี                                                [ทางบก]
กาญจนบุรี      [ทางบก, ทางบก, ทางบก, ทางบก, ทางบก, ทางบก, ทาง...
                                     ...
เลย            [ทางบก, ทางบก, ทางบก, ทางบก, ทางบก, ทางบก, ทาง...
แพร่                     [สวนรุกขชาติ, สวนรุกขชาติ, สวนรุกขชาติ]
แพร่           [ทางบก, ทางบก, ทางบก, ทางบก, ทางบก, ทางบก, ทาง...
แม่ฮ่องสอน     [สวนรุกขชาติ, สวนรุกขชาติ, สวนรุกขชาติ, สวนรุก...
แม่ฮ่องสอน     [ทางบก, ทางบก, ทางบก, ทางบก, ทางบก, ทางบก, ทาง...
Name: Type-TH, Length: 99, dtype: object

##Apriori

In [51]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)

In [53]:
from apyori import apriori

In [54]:
list(apriori(transacs, min_support = 0.03, min_confidence = 0.01))

TypeError: ignored